{% extends "a_index.html"%} {% block title %}Edit group{% endblock %}
<!-- Custom -->
{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">{% endblock %}
<!-- Content-->
{% block content %}
<main class="form-signin text-center">
    {% if form %}
    <form method="POST" class="form-max-width form-flex">
        <h1 class="h3 mb-3 fw-normal form-item">Edit group</h1> {{ form.hidden_tag() }}
        <div class="form-floating form-item">
            {{ form.name(class_="form-control") }}{{ form.name.label }} {% for error in form.name.errors %}
        </div>
        <div class="bg-danger text-white form-control">
            {{ error }} {% endfor %}
        </div><br>
        <div class="form-floating form-item">{{ form.submit(class_="w-100 btn btn-lg btn-primary") }}</div>
    </form>{% endif %}
</main>
{% endblock %}